html {
  @apply dark:bg-[#15202B] dark:text-[rgb(247,249,249)];
}

ul {
  list-style-type: disc;
  list-style-position: inside;
  white-space: normal;
}

li > ul > li {
  margin-left: 24px;
}

p,
h1,
h2,
h3,
li,
pre {
  font-family: 'Noto+Sans+JP';
  font-size: 18px;
  letter-spacing: 0.04em;
  line-height: 36px;
  overflow-wrap: break-word;
}

h2 {
  font-weight: 700;
  font-size: 24px;
}

h3 {
  font-weight: 700;
  font-size: 18px;
}

pre {
  padding: 8px;
  border-radius: 4px;
  white-space: pre-wrap;
}

p > a {
  color: #000;
  @apply dark:text-white;
  border-bottom: 1px black dotted;
  @apply border-b border-dotted;
  @apply border-black;
  @apply dark:border-white;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

blockquote {
  font-style: italic;
  font-weight: bold;
}
