@tailwind base;

body {
  @apply break-words;
  font-family: sans-serif;
}

ul {
  @apply list-disc;
  @apply list-inside;
}

li > ul > li {
  @apply ml-8;
}

h1,
h2 {
  @apply font-bold;
  @apply text-2xl;
}

h3 {
  @apply font-bold;
  @apply text-lg;
}

h4 {
  @apply font-bold;
  @apply text-base;
}

main h2 {
  @apply text-xl;
}

main {
  @apply font-normal;
}

.nuxt-content {
  @apply whitespace-pre-line;
}

.nuxt-content ul {
  @apply whitespace-normal;
}

:root {
  --border: rgb(234, 234, 234);
  --bg-primary: white;
  --text-primary: rgb(35 35 35);
  --text-secondary: rgb(31, 155, 240);
}
body {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
h1,
h2,
h4,
hr,
p {
  margin: 0;
}
a {
  color: inherit;
  text-decoration: inherit;
}

.tweet-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tweet-author-image {
  width: 48px;
  height: 48px;
  border-radius: 9999px;
}
.tweet-author-info {
  margin-left: 1rem;
}
.tweet-author-name {
  line-height: 1rem;
  font-weight: 500;
}
.tweet-author-handler {
  line-height: 1.8rem;
  color: var(--text-secondary);
}

.tweet-content {
  margin-top: 1rem;
}
.tweet-content a {
  color: var(--text-secondary);
}
.tweet-content .emoji {
  display: inline-block;
  height: 1.2em;
  width: 1.2em;
  margin: 0 0.05em 0 0.1em;
  vertical-align: -0.1em;
}

.tweet-media {
  margin-top: 1rem;
  border: 1px solid var(--border);
  border-radius: 1rem;
  overflow: hidden;
}
.tweet-summary-card-text {
  border-top: 1px solid var(--border);
  padding: 0.75rem;
  font-size: 0.95rem;
  color: var(--subtext-primary);
}
.tweet-summary-card-text span {
  font-size: 0.9rem;
}
.tweet-summary-card-text h2 {
  color: var(--text-primary);
}
.tweet-summary {
  display: flex;
}
.tweet-summary img {
  width: 130px;
  height: 130px;
}
.tweet-summary > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-left: 1px solid var(--border);
  border-top: 0px !important;
}

.tweet-image {
  width: 100%;
}
.tweet-quoted .tweet {
  margin-top: 1rem;
  width: 100%;
}

.tweet {
  max-width: 500px;
  padding: 2rem;
  color: var(--text-primary);
  border: 1px solid var(--border);
  border-radius: 1rem;
  background: var(--bg-primary);
  @apply whitespace-normal;
}
.tweet-author {
  display: flex;
  align-items: center;
}
.tweet-author-title {
  display: flex;
  align-items: center;
}
.tweet-author-verified {
  width: 1.25rem;
  height: 1.25rem;
  margin-left: 0.25rem;
  color: var(--text-secondary);
}
.tweet-logo {
  color: var(--text-secondary);
}
.tweet-info {
  @apply flex items-center mt-2
}
.tweet-info-favourite {
  @apply mr-1
}
.tweet-info-date {
  @apply ml-2
}

@tailwind utilities;
